<span class="post-meta-date">
    {{ .Date.Format "January 2, 2006" }}
</span>

{{- if site.Params.showReadingTime }}
    {{ if .ReadingTime }}
        <span class="post-meta-reading-time">{{ .ReadingTime }} min read</span>
    {{ end }}
{{- end }}

{{- if site.Params.showWordCount }}
    {{ if .WordCount }}
        <span class="post-meta-word-count">{{ .WordCount }} words</span>
    {{ end }}
{{- end }}

{{- if .Params.categories }}
    in
    {{ range $index, $cat := .Params.categories }}
        {{- if $index }}, {{ end }}
        <a href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat }}</a>
    {{ end }}
{{- end }}

{{- if .Params.tags }}
    {{ with .Params.tags }}
        <span class="post-meta-separator"> â¢ </span>
        {{ range $index, $tag := . }}
            {{- if $index }}, {{ end }}
            <a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag }}</a>
        {{ end }}
    {{ end }}
{{- end }}

